html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

button {
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    transition: ease-out .3s all;
}

button:hover {
    background-color: black;
}

form label, form button {
    display: block;
    margin: 5px 0;
}
