/*MATERIAL ICONS*/
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
/**/
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

button {
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    transition: ease-out .3s all;
}

button:hover {
    background-color: black;
}

form label, form button {
    display: block;
    margin: 5px 0;
}

table.fizzbuzz-db-data {
    width: 100%;
    text-align: center;
}

table.fizzbuzz-db-data td, table.fizzbuzz-db-data th {
    padding: 5px 15px;
    border: solid 1px #000;
}

table.fizzbuzz-db-data th {
    background: #E0E0E0;
}

button.delete-btn {
    background: transparent;
    color: red;
    font-weight: 700;
    transition: ease-out .3s all;
}

button.delete-btn:hover {
    transform: scale(1.5);
}