@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    if (Model.Name == null)
    {
        Model.Name = "User";
    }
}

<div>
    <h1 class="display-4">Welcome @Model.Name</h1>
    <form method="post">
        <label asp-for="FizzBuzz.Year"></label>
        <input asp-for="FizzBuzz.Year" />
        <span asp-validation-for="FizzBuzz.Year" class="text-danger" style="font-weight: 700;"></span>
        <label asp-for="FizzBuzz.Name"></label>
        <input asp-for="FizzBuzz.Name" />
        <span asp-validation-for="FizzBuzz.Name" class="text-danger" style="font-weight: 700;"></span>
        <button type="submit">Zatwierdź</button>
        @{
            if (ModelState.IsValid && Model.Message != "")
            {
                <div class="alert alert-success">
                    @Model.Message
                </div>
            }
        }
    </form>
</div>
